* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #212121;
}

body {
  background-color: #fbf5e5;
}

/* HEADER */
header {
  background-color: #212121;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  & > h1 {
    color: #fbf5e5;
    font-size: 1.9rem;
    text-align: center;
  }
  & > .controles {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    & > input,
    & > select {
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.479);
      background-color: #fbf5e5;
      color: #555555;
      font-size: 0.8rem;
      font-weight: 600;
      outline: none;
      padding: 5px;
      width: 85%;
    }
    & option {
      background-color: #fbf5e5;
      color: #555555;
      font-size: 0.8rem;
      font-weight: 600;
    }
    & > input:focus,
    & > input:hover,
    & > select:focus,
    & > select:hover {
      background-color: #fdf3d8;
    }
    & > .botoes-ordenacao {
      display: flex;
      justify-content: center;
      gap: 15px;
      width: 85%;
      & > button {
        background-color: #c890a7;
        border: none;
        border-radius: 5px;
        color: #212121;
        font-size: 0.9rem;
        padding: 5px;
        width: 50%;
        transition: all 0.3s ease;
        cursor: pointer;
      }
      & > button:hover {
        background-color: #a35c7a;
      }
    }
  }
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}

/* BOTAO ADICIONAR JOGADORA */
#btn-adicionar {
  background-color: #c890a7;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.425);
  color: #212121;
  font-size: 0.9rem;
  padding: 4px;
  margin: 10px 0;
  width: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #a35c7a;
    box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.425);
    transform: scale(1.01);
  }
}

/* FORMULARIO */
#form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  & #form-jogadora {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    & .form-bloco {
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.253);
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      width: 90%;
      & h3 {
        margin-bottom: 5px;
      }
      & .input-box {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 85%;
        & label {
          font-size: 0.9rem;
          font-weight: 600;
        }
        & .form-input {
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.2);
          font-size: 0.9rem;
          outline: none;
          padding: 4px;
          transition: all 0.2s ease;
        }
        & .form-input:focus,
        & .form-input:hover {
          transform: scale(1.02);
        }
      }
    }
    & .form-buttons {
      display: flex;
      gap: 7px;
      width: 90%;
      & button {
        background-color: #c890a7;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.425);
        color: #212121;
        font-size: 0.9rem;
        padding: 4px;
        margin-top: 10px;
        transition: all 0.3s ease-in-out;
        width: 50%;
        cursor: pointer;
      }
      & button:hover {
        background-color: #a35c7a;
        box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.425);
        transform: scale(1.01);
      }
    }
  }
}

/* CARDS */
#cards-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
  width: 100%;
  & .card {
    background-color: #212121;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    width: 90%;
    transition: all 0.3s ease;
    & * {
      color: #a35c7a;
    }
    & img {
      width: 50%;
    }
    & h3 {
      font-size: 1.3rem;
      text-decoration: underline;
    }
    & > p {
      font-size: 1.1rem;
      font-weight: 500;
    }
    & .card-estatisticas {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      & i {
        margin-right: 5px;
      }
    }
    & .card-acoes {
      border-top: 1px solid #a35c7a;
      display: flex;
      justify-content: space-around;
      gap: 7px;
      padding-top: 5px;
      width: 100%;
      & * {
        color: #212121;
      }
      & button {
        background-color: #c890a7;
        border: none;
        border-radius: 5px;
        padding: 5px 0;
        width: 25%;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      & button:hover {
        background-color: #a35c7a;
        transform: scale(1.01);
      }
    }
  }
  & .card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.24);
  }
}

/* FOOTER */
footer {
  background-color: #212121;
  margin-top: 8px;
  padding: 7px 0;
  width: 100%;
  & p {
    color: #a35c7a;
    font-size: 0.8rem;
    text-align: center;
  }
}

/* RESPONSIVIDADE */
@media screen and (min-width: 768px) {
  header > .controles {
    flex-direction: row;
    width: 85%;
    & > input,
    & > select {
      width: 50%;
    }
    & > .botoes-ordenacao {
      width: 50%;
    }
  }

  #form-section {
    & > button {
      width: 50%;
    }
    & #form-jogadora {
      grid-template-columns: 1fr 1fr;
      width: 100%;
      & .form-bloco {
        justify-content: center;
      }
      & .form-buttons {
        display: contents;
        gap: 0;
        & button {
          width: 90%;
        }
      }
    }
  }

  #cards-section {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media screen and (min-width: 1280px) {
  header {
    flex-direction: row;
    justify-content: space-around;
    & > .controles {
      width: 70%;
    }
  }

  #cards-section {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
